body{
    overflow:hidden;
}
.weather-conteiner{
    
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0px 15px 20px #0b1e4259;
   background: linear-gradient(0deg, rgba(195, 179, 206, 0.63) 23.8%, rgba(252, 221, 221, 0.271) 92%);
      position: absolute; 
  left: 0;
  top: 0;
  right: 0;


   
}

#current-temp{
    box-shadow: 0px 15px 20px #410b4214;
    border-radius: 50%;
    background: linear-gradient(179.4deg, rgba(253, 240, 233, 0.801) 2.2%, rgb(255, 194, 203) 96.2%);
    /* outline: auto; */
    /* display:flex; */
    max-height: 120px;
    max-width: 120px;
    padding-right: 53px;
    padding-top: 10px;
    padding-left: 20px;

    margin-top: 50px;
    margin-left: 20px;
    /* overflow-x: visible; */
    /* margin-bottom: 40px; */
   
}
#Humidity, #Wind{
    font-weight:700;
    font-size: small;
    margin-left: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    color: rgb(27, 26, 46);
    
}
#Forecast{
    font-weight:500;
    margin-left: 280px;
    margin-top: 30px;
    font-size: small;
    display: flex;
    color: rgb(97, 92, 187);
}
#week-forecast{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
   
}

.untis{
    display: flex;
}
#main-temp{
    font-weight: 300;
    padding-left: 10px;
    margin-bottom: 10px;
    /* color: rgb(250, 118, 140); */

} 
#current-city{ 
font-weight:700;
font-size: large;   
 margin-top: 60px;
 margin-left: 15px;
color: rgb(27, 26, 46);
 font-family: 'Courier New', Courier, monospace;
     
    
}
#current-date {
    font-weight:700;
    font-size:medium;
    /* margin-bottom: 100px; */
     margin-left: 15px;
     color: rgb(27, 26, 46);
     font-family: 'Courier New', Courier, monospace;
}

ul {
  list-style-type: none;
}
.search-form{
    margin-top: 20px;
    margin-left: 60px;
    display: flex;
}

    
#first-day{
    margin-left: 25px;
    font-size: x-small;
    padding-bottom: none;
    
    /* font-weight: 100; */
}

#footer{
        color: rgb(252, 178, 190);
    margin-left: 50px;
}
.max-minus-temp{
    display: flex;
    margin-right: 50px;
}
.main-temp{
    display: flex;
    padding-bottom: none;
    /* margin-bottom: 20px; */
   
}
#main-Forecast{
    display: flex;

    justify-content:space-between;
    font-size: x-small;
    margin-top: 30px;
    margin-left: 15px;
    padding-right: 100px;
}
#main-temp-high,#main-temp-low{
    font-size: x-small;
    margin-top: 30px;
    margin-right: 50px;
    /* margin-left: 15px; */
    /* padding-right: 30px; */

}

#main-icon{
    margin-left: 30px;
    margin-bottom: none;
    font-size: medium;
    
 /* margin-bottom: 30px; */
}
.week-forecast{
    padding-top: 50px;
    padding-bottom: 40px;
    box-shadow: 0px 15px 20px #410b4214;
    border-radius: 50%;
    background: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%);
    max-height: 120px;
    max-width: 120px;
    padding-right: 53px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 70px;
    /* margin-left: 15px; */
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center; 
    /* margin-left: 10px; */

}
.weatherforecast-icon img{
    /* margin-left: 5px; */
    /* margin-bottom: 5px; */
    width: 40px;
}
.weatherIcon{
    width: 40px;
    margin-right: 40px;
    overflow-x: visible;
    /* padding-right: 40px; */
    /* margin-left: 10px; */
}
#search-bar, #search{
color: rgb(138, 187, 230);
border-radius: 30px;
border-color: pink;
background-color: rgba(255, 255, 255, 0.573);
}
#gitHubLink, #appLink,#netlifyLink {
   color: rgb(138, 187, 230);
}
img{
    /* position: relative; */
    display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
  overflow:-moz-hidden-unscrollable;

}
.overlay {
  position: absolute; 
}